html
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.img_res
{
	width: 1000px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
}

p
{
	font-size: 20px;
}

li
{
	font-size: 20px;
}

.p_left
{
	text-align: center;
}

.p_ctr
{
	text-align: center;
}

.img_1
{
	width: 600px;
	height: 350px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.h1_accueil{
	text-align: center;
	font-size: 50px;
	text-decoration : underline;
}



.vdm1{
	width: 500px;
	height: 500px;
	margin-top: -450px;
	margin-left: 500px;
}