footer {
    padding: 40px;
    background-color:  #00171F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  footer #socialIcon i {
    font-size: 3.2em;
    color: #00A8E8;
    padding-left: 10px;
  }
  
  footer #socialIcon i:hover {
    color: #007EA7;
  }
  
  footer #navigation h3 {
    color: #00A8E8;
    padding-bottom: 23px;
  }
  
  footer a {
    text-decoration: none;
    color: white;
    padding-bottom: 23px;
  }
  
  footer a:hover {
    color: #00A8E8;
  }
  
  footer #navigation ul {
    list-style: none;
    padding-left: 0;
    line-height: 2em;
  }
  
  