html
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
body{
  padding: 0%;
  margin: 0%;
}
p
{
	font-size: 20px;
}

li
{
	font-size: 20px;
}
.prez {
  display: flex;
  padding: 0%;
  justify-content: space-evenly;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
}
.prez p {
  width: 70%;
  }
.row-reverse img , .reverse img{
  width: 30%;
  border: 20px solid;
}
.reverse {
  display: flex;
  padding: 0%;
  justify-content: space-evenly;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 10%;
  align-items: center;
}
.row-reverse a,.reverse a{
  width: 15%;
}
.row-reverse {
display: flex;
padding-bottom: 5%;
flex-direction: row-reverse;
padding-right: 10%;
}
.reverse p {
width: 53%;
}

.row-reverse p {
padding-right: 5%;
display: flex;
align-items: center;
width: 53%;
}

#logo{
  margin-left: 5%;
}
#M2 ,
#M3 ,
#M4 ,
#M5{
  width: 35%;
}
#Pare {
  width: 100%;
}






