
html
{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background: linear-gradient(90deg, #a6feffa1 0%, rgba(168,254,255,0.3981967787114846) 50%, rgba(170,254,255,0.63) 100%);
}

h1
{
	text-align: center;
	font-size: 50px;
}

.img_res
{
	width: 1000px;
	height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: -80px;
}

p
{
	font-size: 20px;
}

.p_left
{
	text-align: left;
	border-width:1px;
	border-style:dotted;
	border-color:#a6feffa1;
	margin-left: 50px;
	margin-right: 1000px;
	margin-top: 50px;
}

.p_ctr
{
	text-align: center;
	border-width:1px;
	border-style:dotted;
	border-color:#a6feffa1;
	margin-left: 1000px;
	margin-right: 50px;
	margin-top: 50px;
}

.img_1
{
	width: 700px;
	height: 350px;
	border-radius: 20px;
	margin-left: 1050px;
	margin-top: -200px;
}

.img_2
{
	width: 700px;
	height: 350px;
	border-radius: 20px;
	margin-top: -980px;
	margin-left: 100px;
}

/*---------------------MENU DEROULANT---------------------*/
li
{
	list-style:none !important;
	color:rgb(0, 0, 0);
	padding:5px;
	font-size:30px;
	font-weight:bold;
}

nav ul li ul
{
	display:none;
}

nav ul li:hover ul
{
	z-index:99999;
	display:list-item !important;
	margin-top:5px;
	margin-left:10px;
}

nav ul li:hover ul li
{
	float:none;
}

.nav_center
{
	text-align: center;
}

nav ul
{
	background: linear-gradient(90deg, rgba(166,254,255,0.28) 0%, rgba(168,254,255,0.3981967787114846) 50%, rgba(170,254,255,0.28) 100%);
	padding:0;
	margin:0;
}

nav ul li
{
	list-style: none;
	line-height:50px;
	background: linear-gradient(90deg, rgba(166,254,255,0.28) 0%, rgba(168,254,255,0.3981967787114846) 50%, rgba(170,254,255,0.28) 100%);
}

nav ul li a
{
	color:rgb(0, 0, 0);
	padding:10px;
	font-size:20px;
	text-decoration:none;
}

li a:hover
{
	border-bottom:3px rgb(0, 0, 0) solid;
}

/*---------------------FIN MENU DEROULANT---------------------*/